* {
    box-sizing: border-box;
}

.general_container {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.container_blue, .container_yellow, .container_red {
    float: left;
    margin: 0 5px;
    width: 200px;
    border-collapse: collapse;
}

.container_blue { border: 1.5px rgb(49, 201, 206) solid; 
    border-bottom: 10px rgb(11, 159, 164) solid; 
}
.container_yellow { 
    border: 1.5px rgb(240, 216, 56) solid; 
    border-bottom: 10px rgb(206, 183, 29) solid; 
}
.container_red { 
    border: 1.5px rgb(231, 65, 65) solid; 
    border-bottom: 10px rgb(174, 30, 30) solid; 
}


.header_blue, .header_yellow, .header_red {
    font-size: 20px;
    color: white;
    padding: 10px 0;
}

.header_blue { 
    background-color: rgb(49, 201, 206); 
    border-bottom: 10px rgb(11, 159, 164) solid; 
}

.header_yellow { 
    background-color: rgb(240, 216, 56); 
    border-bottom: 10px rgb(206, 183, 29) solid; 
}

.header_red { 
    background-color: rgb(231, 65, 65); 
    border-bottom: 10px rgb(174, 30, 30) solid; 
}


.middle_blue, .middle_yellow, .middle_red {
    color: gray;
    font-size: 12px;
    padding: 15px;
}


.button_blue, .button_yellow, .button_red {
    padding: 15px;
}


.border_top_dashed {
    border-top: 2px rgb(118, 118, 118) dashed;
    padding-top: 15px;
    margin: 0 10px;
}

.btn_blue, .btn_yellow, .btn_red {
    padding: 10px;
    display: inline-block;
}

.btn_blue { 
    background-color: rgb(49, 201, 206); 
}
.btn_yellow { 
    background-color: rgb(240, 216, 56);
}
.btn_red { 
    background-color: rgb(231, 65, 65); 
}

a {
    text-decoration: none;
    color: white;
    font-size: 13px;
}