body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: grey;
}

table{
    border-collapse:collapse;
    margin: auto;
}

tr, th{
    padding: 10px;
    border: 1px solid white;
}

.header_info th{
    font-weight: 1000;
}

.header_info th, 
.column{
    background-color: rgb(113, 191, 240);
    color: white;
}

.column{
    width: 150px;
}
.header_info th{
    width: 100px
}

th{
    background-color: rgb(187, 230, 255);;
}

