*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(76, 59, 59);
}

.container{
    margin: 50px auto;
    margin-bottom: 10px;
    background: white;
    position: relative;
    width: 80%;
    height: 500px;
    display: flex;
}

.left-side, .right-side{
    position: relative; 
    height: 100%;
    align-items: center;
}

.left-side{
    width: 40%;
    text-align: center;
    align-items: center;
    background-image: url("https://www.seriouseats.com/thmb/uSNXjlR9pQU0Nt9HJTzD2ZhZ45Y=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/__opt__aboutcom__coeus__resources__content_migration__serious_eats__seriouseats.com__images__2015__07__20150728-homemade-whopper-food-lab-35-b3500a5c2f3e4e10aa3169d5f76e1468.jpg");
    background-size: cover;
    background-position: center;
}

.burger-text{
    position: relative;
    top: 250px;
    right: 10px;
    background: #000;
    height: 200px;
    color: white;    
    font-weight: bold;
    font-size: 40px;
    padding: 20px;
}

#small-text{
    font-size: small;
    font-weight: bold;
}

.right-side{
    margin-top: 30px; 
    width: 60%;
    text-align: center;
}

.menu-item{
    position: relative;    
    display: inline-block;    
    padding-top: 50px;
    padding-bottom: 4px;
    margin: 5px;
    width: 40%;
    font-size: 20px;
    border-bottom: 1px solid rgb(182, 181, 181);
}

.menu-item::after{
    content: "";
    position: absolute;
    height: 8px;
    width: 8px;
    transform: rotate(45deg);
    background: rgb(182, 181, 181);
}

.title{
    font-size: 20px;
}

.price{
    color: rgb(182, 181, 181);
}

.button{
    position: absolute;
    right: 0;
    bottom: -70px;
    background: black;
    padding: 20px;    
}

a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}




